*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  background-image: url(../images/pattern-background-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: hsl(225, 100%, 94%);
  min-height: 100vh;
  display: grid;
  align-content: center;
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg);
  }
}

h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h4 {
  font-size: 1.7rem;
}

p {
  line-height: 1.5;
  color: hsl(224, 23%, 55%);
}

.container {
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 30%;
  }
}

.top_img {
  width: 100%;
}

.bottom {
  background-color: #fff;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: grid;
  gap: 2rem;
  justify-items: center;
}

.content {
  text-align: center;
  width: 90%;
}

.plan {
  width: 90%;
  background: hsl(225, 100%, 98%);
  padding: 1rem 2rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
  gap: 2rem;
}

.plan span {
  align-self: center;
}

.link {
  align-self: center;
  justify-self: end;
}

.btn {
  width: 90%;
  padding: 2rem 3rem;
  text-align: center;
  border: 0;
  border-radius: 10px;
}

.btn_blue {
  background: hsl(245, 75%, 52%);
  color: #fff;
}

.btn_white {
  background: hsl(225, 100%, 98%);
  color: hsl(224, 23%, 55%);
}
